<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nidhal.frontend">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApp">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>




        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".MainActivity"
            android:label="Acceuil"
            android:theme="@style/Theme.AppCompat.NoActionBar">

        </activity>
        <activity
            android:name=".mainclasses.ConstatActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity android:name=".mainclasses.AcceuilActivity">

        </activity>
        <activity android:name=".mainclasses.LoginActivity" android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".mainclasses.SignupActivity" android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".mainclasses.ForgotPasswordActivity" android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".mainclasses.ProfileActivity" android:theme="@style/AppTheme.NoActionBarProfile">

        </activity>
        <activity android:name=".mainclasses.DamageActitivty"  android:theme="@style/AppTheme.NoActionBar" >

        </activity>


        <activity android:name=".extra.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>
        <activity android:name=".mainclasses.FillDrivingLicence" android:theme="@style/AppTheme.NoActionBar" >

        </activity>
        <activity android:name=".mainclasses.FillInsurance" android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".mainclasses.FillVehicle" android:theme="@style/AppTheme.NoActionBar" >

        </activity>

        <activity android:name=".extra.QrCodeActivity">
            </activity>


        <activity android:name=".extra.ExtraDataConstat" android:theme="@style/AppTheme.NoActionBar">
        </activity>


    </application>

</manifest>